<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315657446948-aielqr452ngft771bjls36uogs5hvek9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315657446948-aielqr452ngft771bjls36uogs5hvek9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315657446948-52njfm7bj982ov5cuorbs2snc8tt2uot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkwAX3YyxSkjPP90lxJKV9FE9Hupe_QNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315657446948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gaydatingapp</string>
	<key>PROJECT_ID</key>
	<string>fir-demo1-34375</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo1-34375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315657446948:ios:c6621e966131eac9419ab1</string>
</dict>
</plist>